<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header id="header"{% if page.layout == "landing" %} class=" style2"{% endif %}{% if page.layout == "home" %} class="alt"{% endif %}>
	<a href="{{ "" | absolute_url }}/" class="logo"><strong>{{ site.title }}</strong> <span>{{ site.subtitle }}</span></a>
	<nav>
		<ul class="actions" style="font-size: 13px;">
			<li><a href="#one" class="">Team</a></li>
			<li><a href="#two" class=" ">Stack</a></li>
			<li><a href="#three" class=" ">Machine Learning</a></li>
			<li><a href="#four" class=" ">Gender Predictor</a></li>
			<li><a href="http://127.0.0.1:3000/" class="">Predict</a></li>
			<li><a href="#contact" class="">Contact Us</a></li>
		</ul>
	</nav>
</header>

<!-- Menu -->
<nav id="menu">
	<ul class="links">
        {% for page in site.pages %}
		    {% if page.layout == "home" %}
		        <li><a href="{{ "" | absolute_url }}/">{{ page.title }}</a></li>
	    	{% endif %}
		{% endfor %}
		{% for page in site.html_pages %}
		    {% if page.layout != "home" and page.nav-menu == true %}
		        <li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
		    {% endif %}
		{% endfor %}
	</ul>
</nav>
